In [3]:
#data01.py
import numpy as np
import pandas as pd

s=pd.Series([1,3,5,np.nan,6,8]) #np.nan는 숫자가 아닌것이 들어있다는말 nan은 결측치
print(s)
#numpy는 주로 배열을 컨트롤
#pandas - 데이터 분석 통계(주로 2차원 설계)
dates=pd.date_range('20130101',periods=6)
print(dates)
df=pd.DataFrame(np.random.randn(6,4), index=dates,columns=['A','B','C','D']) #row, colum
print(df)
# jupyter notebook ->브라우저 실습
df.head(3)
df.index
df.columns
df.values #
df.info #df정보에대해서 알고싶다
print(df.describe())

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -0.446659  1.640457 -1.064207  0.703164
2013-01-02  0.613528  1.946466 -0.883994  0.724076
2013-01-03 -1.484188 -0.562530 -1.425855  2.174042
2013-01-04 -1.620312  0.352488  0.346794 -0.549815
2013-01-05  0.978877 -0.524833 -2.003160  0.358494
2013-01-06 -1.589932  0.929760  0.796924  0.284896
              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.591448  0.630301 -0.705583  0.615810
std    1.165450  1.065527  1.070324  0.892394
min   -1.620312 -0.562530 -2.003160 -0.549815
25%   -1.563496 -0.305502 -1.335443  0.303295
50%   -0.965423  0.641124 -0.974101  0.530829
75%    0.348481  1.462783  0.039097  0.718848
max    0.978877  1.946466  0.796924  2.174042

In [8]:
#               A         B         C         D
# count  6.000000  6.000000  6.000000  6.000000
# mean  -0.111961  0.340303  0.421309 -0.223080
# std    1.359790  1.001487  1.087335  1.243388
# min   -1.349969 -0.771991 -0.677043 -1.940744
# 25%   -1.131170 -0.450483 -0.391569 -1.049502
# 50%   -0.643682  0.178835  0.269222 -0.129677
# 75%    1.041134  1.202033  0.871777  0.691298
# max    1.656496  1.573297  2.205656  1.252770
# count가 전체 열 수와 같으면 결측치가 없다는 말
# std 표준편차

df.sort_values(by='B', ascending=False) #큰값에서 작은값으로

                   A         B         C         D
2013-01-02  0.613528  1.946466 -0.883994  0.724076
2013-01-01 -0.446659  1.640457 -1.064207  0.703164
2013-01-06 -1.589932  0.929760  0.796924  0.284896
2013-01-04 -1.620312  0.352488  0.346794 -0.549815
2013-01-05  0.978877 -0.524833 -2.003160  0.358494
2013-01-03 -1.484188 -0.562530 -1.425855  2.174042

In [15]:
df['A'] #A컬럼만 보고싶다.

2013-01-01   -0.446659
2013-01-02    0.613528
2013-01-03   -1.484188
2013-01-04   -1.620312
2013-01-05    0.978877
2013-01-06   -1.589932
Freq: D, Name: A, dtype: float64

In [9]:
df[0:2] #데이터 개수(row기준) 0,1
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.613528  1.946466 -0.883994  0.724076
2013-01-03 -1.484188 -0.562530 -1.425855  2.174042
2013-01-04 -1.620312  0.352488  0.346794 -0.549815

In [10]:
df.loc[:,['A','B']] #연속적인 경우가 아닐때는, 리스트로 묶어야함

                   A         B
2013-01-01 -0.446659  1.640457
2013-01-02  0.613528  1.946466
2013-01-03 -1.484188 -0.562530
2013-01-04 -1.620312  0.352488
2013-01-05  0.978877 -0.524833
2013-01-06 -1.589932  0.929760

In [14]:
df.loc['2013-01-02':'2013-01-05',['A','B']]

                   A         B
2013-01-02  0.613528  1.946466
2013-01-03 -1.484188 -0.562530
2013-01-04 -1.620312  0.352488
2013-01-05  0.978877 -0.524833

In [16]:
df.loc['2013-01-02':'2013-01-05','A':'B']

                   A         B
2013-01-02  0.613528  1.946466
2013-01-03 -1.484188 -0.562530
2013-01-04 -1.620312  0.352488
2013-01-05  0.978877 -0.524833

In [2]:
df.iloc[3]

NameError: name 'df' is not defined